<html>
    <%- include("../partials/head") %>
    <body>
        <%- include("../partials/navbar") %>
        <div class="container m-4">
            <p><%= subTitle %></p>
        </div>
    </body>
</html>